@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared style */
.text-primary{
    color: #FD6E0A;
}

/* NAV Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;

}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav>ul>li{
    list-style: none;
    margin-right: 50px;
}

nav>ul>li>a{
    text-decoration: none;
    font-size: 20px;
}
.dark2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}

/* Shared button */
.btn-primary{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

/* header */
.header{
    background-image:url(../images/developer.png),url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}
/* Banner styles */
.banner{
    display: flex;
    justify-content:space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 580px;
}
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner title{
    font-weight: bold;
    font-size: 85px;
}
.describtion{
    font-size: 18px;
}
.banner-pic{
    width: 580px;
}